.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

packages/
*.nupkg
*.orig
node_modules/
npm-debug.log

appsettings.Development.json
appsettings.json
appsettings.Production.json 

TestResults/
Thumbs.db
.DS_Store
EOL